#container{
    display: grid;
    grid-template-rows: 10% 10% 10% 30%  30% 10%;
    grid-template-columns: 5% 25% 5% 30% 5% 25% 5%;
    height: 100vh;
    width:100%;
    grid-template-areas: 
    'nav nav nav nav nav nav nav'
    '. . hd hd hd . .'
    '. . . . . . .'
    '. sc1 . ma . sc2 .'
  
    '. sc1 . ma . sc2 .'
    '. . ft ft ft . .';
    

}

body{
    background-color:#9b59b6;
    margin:0;
}

header{
    grid-area: hd;
    text-align: center;
    
    
}

.section1{
    grid-area: sc1;
    background-color: #2ecc71;
    border: 3px solid;
    border-radius: 1rem;
    color:black;
    text-align: center;
    padding-right: 10px;

}

    

    


.section2{

    grid-area: sc2;
    background-color: #2ecc71;
    border: 3px solid;
    border-radius: 1rem;
    color:black;
    text-align: center;
    padding-right: 10px;


   
    
}


main{
    grid-area: ma;
    background-color: #2ecc71;
    border: 3px solid;
    border-radius: 1rem;
    color:black;
    text-align: center;
    padding-right: 10px;
    
}

nav{
    grid-area: nav;
    background-color: #2ecc71;
    border: 3px solid;
    border-radius: 1rem;
    color:black;
    display: flex; 
    justify-content:center; 
    justify-content: space-evenly;
    
    
    
}
nav a{
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;

}
nav a:hover{
    background-color: white;
    color: #2ecc71;

}

.text{
    text-decoration: none;
    color: black;
    margin:3px;
}

#footer{
    grid-area: ft;
    text-align: center;

}

#footerLink{
    color: black;
}